* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: #FFFFFF;
  width: 100%;
  height: 10vh;
  box-shadow: -2px 7px 21px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  padding: 10px;
}

.hero {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}
.hero p {
  font-size: 1.25rem;
  margin: 0;
}

.hero h1, .hero p {
  align-self: flex-start;
  margin-left: 20px;
  font-family: Poppins;
}


.hero-img {
  min-width: 300px;
  max-width: 50%;
}


/* experiences cards */
section {
  padding: 20px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}


.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--price {
  margin-top: auto;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}